<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	 
	
<form action="/address/addressXdmInst" method="post" id="form">
	seq: <input type="text" name="seq" id="seq" maxlength="10" disabled/>
	main: <input type="text" name="main" id="main"/>
	type: <input type="text" name="type" id="type"/>
	postNum: <input type="text" name="postNum" id="postNum" />
	betterAddress: <input type="text" name="betterAddress" id="betterAddress" placeholder="상세주소 입력 "/>
	addressBook_seq: <input type="text" name="addressBook_seq" id="addressBook_seq"/>
	 
	 
	 
	<button type="button" id="btsSave">저장</button>
</form>
	
	<script type="text/javascript">
		document.getElementById("btsSave").onclick = function(){
			document.getElementById("form").submit();
		}
		
//		document.getElementById("email").onclick = function(){
//			alert("email")
//		}
		
	</script>


 
 
</body>
</html>