<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cocok.demo.fapp.company.CompanyDao">

	  <resultMap id="resultMapObj" type="com.cocok.demo.fapp.company.CompanyDto"></resultMap>
	  
	  
	  <select id="selectList" resultMap="resultMapObj">
	  select 
		    seq,
   			main,
   			company,
   			depart,
   			position,
   			addressBook_seq
	  from
		  company
	  where 1=1
	  order by seq desc
</select>
</mapper>