<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table>
	 
	 
<tr>
	<td>seq</td>
	<td>main</td>
	<td>type</td>
	<td>snsAddress</td>
	<td>addressBook_seq</td>
	<td>delNy</td>
	 
</tr>
<tr th:each="list : ${list}">
	<td th:text="${list.seq}"></td>
	<td th:text="${list.main}"></td>
	<td th:text="${list.type}"></td>
	<td><a th:href = "@{/sns/snsXdmView(seq=${list.seq})}" th:text="${list.snsAddress}"></a></td>
	<td th:text="${list.addressBook_seq}"></td>
	<td th:text="${list.delNy}"></td>
</tr>
</table>

<br>
<a href="/sns/snsXdmForm">등록</a>
</body>
</html>