<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table>
	 
<tr>
	<td>seq</td>
	<td>main</td>
	<td>type</td>
	<td>snsAddress</td>
	<td>addressBook_seq</td>
	 
</tr>


<tr>
	<td th:text="${item.seq}"></td>
	<td th:text="${item.main}"></td>
	<td th:text="${item.type}"></td>
	<td th:text="${item.snsAddress}"></td>
	<td th:text="${item.addressBook_seq}"></td>
	 
</tr>
</table>

<a href="/sns/snsXdmList">목록</a>
<a href="@{/sns/snsXdmDele(seq=${item.seq})}" id="delete">삭제</a>
<a th:href="@{/sns/snsXdmMfom(seq=${item.seq})}">수정</a>
<a th:href="@{/sns/snsXdmUele(seq=${item.seq})}" id="uelete">업제</a>

<script type="text/javascript"> 
	
	document.getElementById("uelete").onclick = function(){
		if(confirm("진짜요??")){
			 
		}else{
			return false;
		}
	}
</script>


</body>
</html>